@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&family=Raleway:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
html {
    background: url(images/scenery.jpg) no-repeat center center fixed;
    background-size: cover;
  }

  h1 {

     font-size: 80px;
     color: aliceblue;
     font-style: normal;
     margin-top: 120px;
     margin-right: 100px;
    text-align: center;
  }

  body{
    user-select: none;
    font-family: "Poppins", sans-serif;
  }
